---
layout: default
title: Joshua Allen
---

<style>
div.project {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.project img {
    width: 100%;
    height: auto;
}

div.title {
    text-align: center;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>

<div class="blurb">
	<!-- fill title_array with all the titles for each post -->
	{% assign title_array = "" | split:"" %}
	{% for post in site.posts %}
		{% unless title_array contains post.title %}
			{% assign title_array = title_array | push: post.title %}
		{% endunless %}
	{% endfor %}
	
	<!-- loop through each title in the array -->
	{% for title in title_array %}
		<div class="project">
			<div class="title">
				{{title}}
			</div>
			<img src="{{ site.url }}/assets/project images/{{title}}.gif"  alt="{{ title }}" width="180" height="180"/>
			<!-- loop through each post that is in the site -->
			{% for post in site.posts %}
				<!-- if the post matches the title then add it -->
				{% if post.title == title %}
					<div class="title">
						<a href="{{ post.url }}">{{ post.language }}</a>
						<br>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
</div>























