---
layout: home
title: Joshua Allen
---

<style>
div.project {
    margin: 10px 10px 5px 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.project img {
    width: 100%;
    height: auto;
}

h4.project_title {
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 5px;
    text-align: center;
}

div.desc {
    text-align: center;
}
</style>

<div class="blurb">
	<!-- fill title_array with all the titles for each post -->
	{% assign title_array = "" | split:"" %}
	{% for post in site.posts %}
		{% unless title_array contains post.title %}
			{% assign title_array = title_array | push: post.title %}
		{% endunless %}
	{% endfor %}
	
	<!-- loop through each title in the array -->
	{% for title in title_array %}
		<div class="w3-card-4" style="width:50%;">
			<header class="w3-container w3-blue">
				<h4 class="project_title">{{title}}</h4>
			</header>
			<div class="w3-container">
			<img src="{{ site.url }}/assets/project images/{{title}}.gif"  alt="{{ title }}" onerror="this.src='{{ site.url }}/assets/project images/temp.gif'" width="180" height="180"/>
			</div>
			<footer class="w3-container w3-blue">
			<!-- loop through each post that is in the site -->
			{% for post in site.posts %}
				<!-- if the post matches the title then add it -->
				{% if post.title == title %}
					<button class="w3-btn w3-dark-grey">{{ post.language }}</button>
				{% endif %}
			{% endfor %}
			</footer>
		</div>
	{% endfor %}
</div>























