---
layout: home
title: Main page
type: main
permalink: /drafts
---

<style>
#card {
    width: 280px;
	float: left; 
	margin: 10px 5px 5px 5px;
}
#header {
    padding: 2px 0px 2px 0px; 
	text-align: center;
}
#title {
	text-transform: capitalize; 
	margin: 0px 0px 0px 0px;
}
#imageHolder {
	padding: 0px;
	float: left; 
	height: 180px;
}
#buttonHolder {
	padding: 0px;
	float: right; 
	height: 180px;
	width: 100px;
}
#button {
	width: 100px;
	text-transform: capitalize; 
	padding: 4px; 
	margin: 0px 0px 0px 0px;
}
</style>

<div style="padding: 0px;">
	<!-- fill title_array with all the titles for each post -->
	{% assign title_array = "" | split:"" %}
	{% for post in site.posts %}
		{% unless title_array contains post.title %}
			{% if post.type == 'post' %}
				{% assign title_array = title_array | push: post.title %}
			{% endif %}
			{% if post.type == 'draft' %}
				{% assign title_array = title_array | push: post.title %}
			{% endif %}
		{% endunless %}
	{% endfor %}
	
	<!-- loop through each title in the array -->
	{% for title in title_array %}
		<div class="w3-card-4" id="card">
			<header class="w3-container w3-theme" id="header">
				<button class="w3-btn w3-small w3-right w3-round-large w3-blue" style="padding: 1px 3px 1px 3px; margin: 5px 5px 0px 0px;">Doc</button>
				<h4 class="project_title" id="title">{{ title | truncate: 25 }}</h4>
			</header>
			<div class="w3-container" id="imageHolder">
				<img src="{{ site.url }}/assets/project images/{{title}}.gif"  
					 alt="{{ title }}" style="margin: 0px;padding: 0px;"
					 onerror="this.src='{{ site.url }}/assets/project images/temp.gif'"
					 width="180" 
					 height="180"/>
			 
			</div>
			<div class="w3-container w3-theme-l2" id="buttonHolder">
				{% for post in site.posts %}
					{% if post.title == title %}
						<a href="{{ post.url }}" style="text-decoration: none;">
							<button class="w3-btn-block w3-theme-l2 w3-hover-green" id="button">
								{{ post.language }}
							</button>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>