.topnav {
	position:relative;
	z-index:1;
	font-size: 17px;
	background-color:#5c6bc0;
	color:#f1f1f1;
	width:100%;
	padding:0;
	letter-spacing:2px;
}
.topnav a{
	text-decoration:none;
	padding:10px 15px 9px 15px !important;
	border-bottom:none;
	display:inline-block;
}
.topnav a:hover{
	border-bottom:none;
	background-color:#1a237e;
	color:#ffffff;
}
a.topnav-icons.fa-home {
	font-size:22px !important;
}

.sidenav{
	color:#000 !important;
	background-color:#e8eaf6 !important
}

.footer{
	width:100%;
	color:#000 !important;
	background-color:#9fa8da !important
}

.sampleItems .sampleItem{
	color:#ffffff !important;
	background-color:#7986cb  !important;
}
.sampleItems a{
	padding:0px !important;
	text-decoration: none;
}

/* the tabs */
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.tabs li{
    float: left;
}

ul.tabs li a{
    display: block;
    color: black;
    text-align: center;
    padding: 5px 16px 5px;
    text-decoration: none;
	color: #337ABD;
}

ul.tabs li.active a{
	color: #555555;
}

ul.tabs li:not(.active) a:hover {
    background-color: #EEEEEE;
	color: #777789;
}

ul.tabs li:not(.active){
	border-style: hidden hidden solid hidden;
	border-color: #DDDDDD; 
	border-width: 1px;
}

ul.tabs li.active {
	border-style: solid solid hidden solid;
	border-color: #DDDDDD; 
	border-width: 1px;
}