---
layout: default
---

<div class="w3-card-4 w3-light-grey w3-padding-medium">
	<header class="w3-container w3-theme">
		<div class="w3-left"><h1>{{ page.title }}</h1></div>
	</header>
	<div class="w3-container">
		<div class="w3-left">
			{% for post in site.posts %}
				{% if post.type == 'about' %}
					{% if post.part == 'main' %}
						<div class="w3-card">
							{{ post.content }}
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		<!-- I don't like doing two for loops but what ever -->
		<div class="w3-right" style="width:400px;">
			{% for post in site.posts %}
				{% if post.type == 'about' %}
					{% if post.part == 'author' %}
						<div class="w3-card">
							{{ post.content }}
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
