<!DOCTYPE html>
<html>
	<head>
		<title>Projects</title>
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<script src="/javascripts/main.js"></script>
	</head>
	<body class="w3-container" style="background: #8EADA2;">
		<div class="w3-top">
			<ul class="w3-navbar w3-card-2 w3-theme-l3" style="margin-right: 32px;">
			
				<li><a class="{% if page.type == 'main' %}w3-green{% endif %} w3-hover-green" href="/">Projects</a></li>
				
				{% if page.type == 'post' %}
				
					<li class="w3-red" style="padding:8px 16px 8px 16px;">{{ page.title }}:</li>
					{% for post in site.posts %}
						{% if post.title == page.title %}
							<li><a class="{% if post.language == page.language %}w3-green{% endif %} w3-hover-green" href="{{ post.url }}">{{ post.language }}</a></li>
						{% endif %}
					{% endfor %}
				{% endif %}
				
				<li class="w3-right"><a class="{% if page.type == 'about' %}w3-green{% endif %} w3-hover-green" href="/about/">About</a></li>
				
			</ul>
		</div>
		<br><br>
		{{ content }}
	</body>
	
	<!-- <button onclick="open_author('joshua')" class="w3-btn">Joshua</button> -->
	
	{% for author in site.data.authors %}
		<div id="{{ author.id }}" class="w3-modal">
			<div class="w3-modal-content w3-animate-right w3-card-8">
			
				<header class="w3-container w3-theme-l3">
					<span onclick="document.getElementById('{{ author.id }}').style.display='none'" class="w3-closebtn">&times;</span>
					<h2>{{ author.name }}</h2>
				</header>
				
				<div class="w3-container" style="padding: 16px;">
					<div class="w3-right w3-container" style="padding: 0px; margin: 0px 0px 0px 16px; width:180px;">
						<img src="{{ site.url }}/assets/author photos/author_{{author.id}}.jpg"  
							 onerror="this.src='{{ site.url }}/assets/author photos/author_null.jpg'"
							 alt="{{ title }}"/>
					</div>
					<p style="margin: 0px;">{{ author.about }}</p>
				</div>
				
				<div class="w3-accordion">
					<button onclick="email_show('{{ author.id }}')" class="w3-btn-block w3-theme-l3">Connect</button>
					<div id="email_{{ author.id }}" class="w3-accordion-content w3-container">
						<p> TODO </p>
						<!-- 
						<form action="https://formspree.io/{{ author.email }}" method="post" enctype="text/plain">
							<input type="hidden" name="_subject" value="Connect From Blog" />
							<input type="text" name="name" required>
							<input type="text" name="_replyto" required>
							<textarea type="text" name="message" rows="10" cols="30"></textarea>
							<input type="submit" value="Send">
						</form>
						 -->
					</div>
				</div>
				<script>
					function email_show(id) {
						var x = document.getElementById('email_'+id);
						if (x.className.indexOf("w3-show") == -1) {
							x.className += " w3-show";
						} else {
							x.className = x.className.replace(" w3-show", "");
						}
					}
				</script>
				
			</div>
		</div>
	{% endfor %}
</html>